	<h2 id="form-title">Your new hat</h2>
	<form class="form-horizontal" action="/orders" method="POST">
		<input class="form-control" type="text" name="client" placeholder="your name"/>
		<br>
		<select class="form-control"id="hatSelect">
			<option value="flexfit">flexfit</option>
			<option value="flexfit">Classic fitted</option>
			<option value="snapback">snapback</option>
			<option value="trucker">trucker</option>
		</select>
		<br>
		<input class="form-control" type="text" name="color" placeholder="hat color"/>
		<br>
		<input class="form-control" type="text" name="frontDesign" placeholder="front design"/>
		<br>
		<input class="form-control" type="text" name="backDesign" placeholder="back design"/>
		<br>
		<input class="form-control" type="text" name="rightSideDesign" placeholder=" nickname"/>
		<br>
		<button class="btn btn-success">Submit</button>